@import '../../../../../scss/constants';
@import '../../../../../scss/mixins';

.special__needs {
  // margin-top: 31px;
  margin-bottom: 31px;
  
}

.passengerCard-checkbox {
  .ant-checkbox-inner {
    width: 28px;
    height: 28px;
  }
}


// .discription{
//   @include font($size: 1.8rem, $weight: 400, $height: 2.1rem, $text-transform: none);
//   color: $color-main-dark;
// }