@import '../../../../scss/constants';
@import '../../../../scss/mixins';


.ant-input.inputField {
  width: 360px;
  height: 50px;
  border: 1px solid $color-grey;
}

.ant-col.ant-form-item-label {
  label {
    color: $color-main-dark;
    @include font($size: 1.6rem, $height: 1.8rem, $weight: 400, $text-transform: none);
  }
  // margin-top: 38px;
}

.ant-input.ant-input-status-success.inputField {
  color: $color-main-dark;
  @include font($size: 2.4rem, $height: 2.8rem, $weight: 400, $text-transform: none);
}