@import '../../../scss/constants';
@import '../../../scss/mixins';
@import '../../../scss/placeholders';

.header-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-bar {
  margin-top: 25px;
  display: flex;
  background-color: $color-main-dark;
  padding: 26px 0 26px 258px;
  @include font($size: 3rem, $height: 3.5rem, $weight: 300, $text-transform: none);
}

.nav-link{
    padding: 0 80px 0 0;
  &>* {
  // padding-left: 40px;
  cursor: pointer;
  color: $color-main-light;

  &:hover {
    color: $color-hover;
    @extend %transition;
  }
}
}