@import '../../../scss/mixins';
@import '../../../scss/constants';


.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 47px;
}

.sort {
  display: flex;
  // margin-left: 363px;
  // margin-right: 4px;
}

.sorting {
  @include font($size: 1.8rem, $height: 2.1rem, $weight: 400, $text-transform: none);
  color: $color-grey;
  width: 270px;
  display: flex;
  flex-wrap: nowrap;
  text-wrap: nowrap;
}

.found {
  @include font($size: 1.8rem, $height: 2.1rem, $weight: 400, $text-transform: none);
  color: $color-grey;
}

.show{
  display: flex;
}

.show__title {
  @include font($size: 1.8rem, $height: 2.1rem, $weight: 400, $text-transform: none);
  color: $color-grey;
}