@import '../../scss/constants';
@import '../../scss/mixins';

.wrapper{
  padding: 0 0 0 85px;
  display: flex;
  flex-direction: column;
}

.btn{
padding: 16px 70px;
@include font($size: 2.4rem, $height: 2.8rem, $weight:700);
color: $color-main-light;
margin: 0 0 140px 820px;
}

