@import '../../../scss/constants';
@import '../../../scss/placeholders';
@import '../../../scss/mixins';

.card {
  // @include card($color: $color-main-light, $border: 1px solid $color-bars-light, $padding: 0, $margin-bottom: 50px);
  display: flex;
  // @extend %border-shadow-trains-card;

  &:not(:last-child) {
    margin-bottom: 5rem;
  }

  // :hover{
  //   @include card($color: $color-main-light, $border: 1px solid $color-primary, $padding: 0, $margin-bottom: 50px)
  //   // border-color: $color-primary;
  // }

  &__train {
    width: 196px;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-quaterniary-light;
  }

  &__direction {
    width: 479px;
    border-right: 0.1rem dashed $color-secondary-light;
    padding: 52px 36rpx 87px 40px;
  }

  &__seats {
    width: 283px;
    padding: 41px 22px 21px 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.card {
  @include card($color: $color-main-light, $border: 1px solid $color-bars-light, $padding: 0, $margin-bottom: 50px);
  @extend %border-shadow-trains-card;

  // :hover{
  //   @include card($color: $color-main-light, $border: 1px solid $color-primary, $padding: 0, $margin-bottom: 50px)
  //   // border-color: $color-primary;
  // }
}