@import '../../../../../scss/constants';
@import '../../../../../scss/mixins';


.wrapper {
  label.ant-form-item-required {
    @include font($size: 1.6rem, $height: 1.8rem, $text-transform: none, $weight: 400);
    color: $color-grey;
  }

  >.ant-form-item,
  .ant-row,
  .ant-form-item-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }

  .ant-radio-button-wrapper.ant-radio-button-wrapper-in-form-item {
    height: 50px;
    width: 100px;
    padding: 5px 35px;
    margin-top: 11px;
    @include font($size: 3rem, $weight: 900, $height: 3.5rem);
    color: $color-black;
    border: 1px solid $color-grey;

    &:focus {
      background-color: $color-primary;
    }

    &:checked {
      background-color: $color-primary;
    }

  }

  .ant-radio-button-wrapper:hover {
    background-color: $color-primary;

    &:checked {
      background-color: $color-primary;
    }
  }
}

// .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
// .ant-radio-button-checked {
//   background-color: $color-primary;
//   color: $color-black;
// }