@import '../../../../../scss/mixins';
@import '../../../../../scss/constants';


.doc__wrapper {
  margin-bottom: 33px;
  // margin-top: 4px;
  .ant-col.ant-form-item-label {

    >label {
      @include font($size: 1.6rem, $height: 1.8rem, $weight: 400, $text-transform: none);
      color: $color-grey;
      margin-bottom: 13px;
    }
  }
}

.ant-form-item-required{
  margin-bottom: 13px;
}

.ant-col.ant-form-item-label {
  padding: 0;
}

  .ant-col.ant-form-item-control {
    width: 205px;
    // margin-top: 10px;

  }

  .ant-form-item-control-input {
    .ant-form-item-control-input-content {
      .ant-select.ant-select-in-form-item.ant-select-single.ant-select-show-arrow {
        .ant-select-selector {
          border: 1px solid $color-grey;
        }
      }
    }
  }


  .ant-select.ant-select-in-form-item {
    // border: 1px solid green;
    height: 50px;
  }




