@import '../../../../scss/constants';
@import '../../../../scss/mixins';

.wrapper {

  // margin-left: 363px;

  .ant-select.ant-select-single.ant-select-show-arrow {
    .ant-select-selector {
      background-color: transparent;
      // width: 139px;
      margin-top: -10px;

      .ant-select-selection-item {
        // width: 139px;
        $color: $color-main-dark;
        @include font($size: 1.8rem, $weight: 400, $height: 2.1rem, $text-transform: none);
      }
    }


  }

  .ant-select {
    background-color: transparent;
  }

}








// .select-item {
//   .ant-select {
//     @include font($size: 1.8rem, $height: 2.1rem, $weight: 400, $text-transform: none);
//     color: $color-main-dark;
//     min-width: 150px;

//     &-arrow {
//       display: none;
//     }

//     &-selection-item {
//       padding: 0;
//     }
//   }
// }

// .filters-select {

//   .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
//   .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
//     padding-right: 0;
//   }

//   .ant-select:not(.ant-select-customize-input) .ant-select-selector {
//     border: none;
//   }

//   .ant-select-dropdown {
//     background-color: $color-tertiarly-light;
//   }

//   .ant-select-item:not(:last-child) {
//     border-bottom: 1px solid $color-secondary-light;
//   }

//   .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
//     font-weight: 400;
//     background-color: $color-tertiarly-light;
//   }

//   .ant-select-item-option-active {
//     background-color: $color-hover;
//   }

//   .ant-select-item-option-content {
//     text-transform: none;
//   }
// }