@import '../../scss/constants';
@import '../../scss/mixins';
@import '../../scss/placeholders';


.popup {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.popup__active {
  transform: scale(1);
  position: fixed;
  top: 35%;
  left: 35%;
}

.content {
  width: 664px;
  border: 1px solid $color-bars-light;
  background-color: #fbfbfb;
  @extend %box-shadow-selection-block;

  .btn {
    @include font($weight: 700, $size: 2.4rem, $height: 2.8rem, $text-transform: capitalize);
    color: $color-main-dark;
    padding: 11px 67px;
    border: 0.1rem solid $color-main-dark;
    margin: 31px 215px 31px 215px;
  }
}

.header__info {
  background-color: $color-info;
}

.header__error {
  background-color: $color-error;
}

.content__img {
  width: 32px;
  height: 32px;
  margin: 38px 594px 38px 38px;
}

.content__wrapper {
  border-top: 1px dashed $color-grey;
  border-bottom: 1px dashed $color-grey;
}

.content__message {
  @include font($weight: 400, $size: 1.8rem, $height: 2.1rem, $text-transform: none);
  color: $color-black;
  padding: 46px 24px 25px 46px;
}