@import '../../../../scss/constants';
@import '../../../../scss/mixins';

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 23px;
  margin-left: 6px;

  &__left {
    display: flex;
    align-items: baseline;
  }

  &__title {
    @include font($size: 1.8rem, $height: 2.1rem, $weight: 400, $text-transform: none);
    color: $color-main-light;
    margin: 17px 34px;
  }
}

.item__icon{
  width: 20px;
  height: 20px;
}

.item__status {
  img {
    width: 72px;
    height: 28px;
  }
}

.switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 72px;
  background-color: $color-main-light;
  border-radius: 10px;

  & input {
    display: none;
  }
}

.slider-round {
  border-radius: 10px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-main-light;
  transition: 500ms;

  &:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 0;
    bottom: -5px;
    border-radius: 50%;
    background-color: $color-bars-light;
    transition: 500ms;
  }
}

input:checked + .slider-round {
  background-color: $color-checked-background;
}

input:checked + .slider-round:before {
  background-color: $color-primary;
  transform: translateX(44px);
}
