@import '../../../../../scss/constants';
@import '../../../../../scss/mixins';

.fullname {
  display: flex;
  margin-top: 35px;

  .ant-col.ant-form-item-label,
  .ant-form-item-required {
    margin-bottom: 10px;
  }

  .ant-input-affix-wrapper.passengerCard-input,
  >.ant-input {
    @include font($size: 2.4rem, $height: 2.8rem, $weight: 400, $text-transform: capitalize);
    color: $color-main-dark;
    width: 280px;
    height: 50px;
    border-radius: 5px;
  }

  .ant-form-item-row {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 25px;
    margin-top: 7px;

    .ant-form-item-row:last-of-type {
      margin: 0;
    }
  }


  .ant-input-affix-wrapper.passengerCard-input {
    height: 50px;
    border: 1px solid $color-grey;
  }

  .ant-row.ant-form-item-row {
    .ant-form-item-label {
      >label {
        @include font($weight: 400, $size: 1.6rem, $height: 1.9rem, $text-transform: none);
        color: $color-grey;

        &::before {
          content: '';
        }
      }
    }
  }

}