@import '../../../scss/mixins';
@import '../../../scss/constants';

.card {
  @include card($margin-bottom: 29px);
  width: 959px;

  &__header {
    padding: 36px 0 32px 19px;
    display: flex;
  }
}

.btn {
  @include font($size: 2.4rem, $height: 2.8rem, $weight: 700, $text-transform: none);
  padding: 16px 34px;
  margin-left: 43px;
}