@import '../../scss/constants';
@import '../../scss/mixins';
@import '../../scss/placeholders';

.howItWorks {
  padding: 69px 268px 95px 258px;
  max-width: 100%;
  max-height: 575px;
  background: $color-main-light;
  color: $color-main-light;
  background-image: url('./background-how-it-works.png');
  background-size: cover;
  background-repeat: no-repeat;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__title {
    @include font($size: 3.6rem, $height: 4.2rem, $weight: 500);
    color: $color-main-light;
  }

  &__options {
    padding-top: 107px;
    display: flex;
    justify-content: space-around;
  }
}

.btn {
  @include font($size: 2.4rem, $height: 2.8rem, $weight: 700, $text-transform: none);
  padding: 16px 77px;
}