@import '../../scss/constants';
@import '../../scss/mixins';
@import '../../scss/placeholders';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 253px 232px 0 349px;

  .header-container {
    display: flex;
    margin-right: 104px;
  }

  .title {
    display: block;
    width: 506px;
    // padding: 576px 0 239px 349px;
    @extend %font-add;
    @include font($size: 7.2rem,
      $height: 8.4rem,
      $weight: 100,
      $text-transform: none);
    color: $color-main-light;

    &-bold {
      font-weight: bold;
    }
  }
}