@import '../../../scss/mixins';
@import '../../../scss/constants';

.wrapper {
  width: 294px;

  .top {
    @include font($weight: 400, $size: 1.8rem, $height: 2.1rem, $text-transform: none);
    color: $color-main-light;
    display: flex;
    justify-content: space-between;
  }

  .ant-slider-rail {
    border: 1px solid $color-bars-light;
    border-radius: 8px;
    width: 294px;
    // height: 19px;
  }

  .ant-slider {
    width: 294px;
  }

  .ant-tooltip {
    @include font($size: 1.6rem, $height: 1.9rem, $weight: 400, $text-transform: none);
    color: $color-secondary-light;

    .ant-tooltip-inner {
      box-shadow: none;
      background-color: transparent;
    }

    .ant-tooltip-placement-bottom {
      padding-top: 0;
    }

    .ant-tooltip-arrow {
      display: none;
    }
  }
}