@import '../../../scss/mixins';
@import '../../../scss/constants';

.wrapper {
  .top {
    @include font($weight: 400, $size: 1.8rem, $height: 2.1rem, $text-transform: none);
    color: $color-main-light;
    display: flex;
    justify-content: space-between;
  }

  padding-bottom: 40px;
}

// .price-slider {
//   background-color: $color-main-light;
//   border: 0;
//   cursor: pointer;
// }

