@import '../../../scss/constants';
@import '../../../scss/mixins';

.section {
  padding: 21px 27px 26px 28px;
  border-bottom: 1px solid $color-secondary-light;
}

.header__text {
  @include font($size: 3rem, $weight: 700, $height: 3.5rem, $text-transform: none);
  color: $color-main-light;
  margin-left: 13px;
}

.date{
  @include font($size: 1.8rem, $weight: 400, $height: 2.1rem, $text-transform: none);
  color: $color-main-light;
}

