@import '../../../scss/mixins';
@import '../../../scss/constants';

.wrapper{
  height: 98px;
  display: flex;
}
.step {
  height: 100%;
  display: flex;
  align-items: center;

  &__icon {
    margin-left: 35px;
    width: 56px;
    height: 56px;
  }

  &__name {
    @include font($size: 3rem, $height: 3.5rem, $weight: 700, $text-transform: capitalize);
    color: $color-main-light;
    margin-left: 28px;
  }

  &-first {
    width: 620px;
  }

  &-second {
    width: 360px;
  }

  &-third {
    width: 360px;
  }

  &-fourth {
    width: 570px;
  }

  &-done {
    background-color: $color-primary;
  }

}

.breaker {
  // background-color: $color-bars;
  background-color: none;
  height: 100%;
  // height: 98px;
  width: 37px;
  clip-path: none;

  &-done {
    background-color: $color-primary;
    margin: 0;
  }

  &-cut {
    background-color: $color-primary;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
  }
}