@import '../../../../../../scss/constants';
@import '../../../../../../scss/mixins';


.seats__type{
  @include font($size: 2.4rem, $height: 2.8rem, $weight: 400, $text-transform: none);
  color: $color-main-dark;
  margin-right: 10px;
}

.seats__number{
  @include font($size: 2.4rem, $height: 2.8rem, $weight: 700, $text-transform: none);
  color: $color-main-dark;
}

.details{
  display: flex;
  margin-bottom: 24px;
  &:last-of-type{
    margin-bottom: 0;
  }
}