@import '../../../../../scss/constants';
@import '../../../../../scss/mixins';


.card {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;

  :last-of-type {
    margin-bottom: 0;
  }
}

.type{
  color: $color-bars;
  @include font($size: 1.6rem, $weight: 400, $height: 1.9rem, $text-transform: none);
}

.seats {
  color: $color-primary;
  @include font($size: 1.6rem, $weight: 500, $height: 1.9rem, $text-transform: none);
}

.price__number{
color: $color-secondary-dark;
@include font($size: 2.4rem, $weight: 700, $height: 2.8rem, $text-transform: none);
}

.price__start{
  color: $color-grey;
  @include font($size: 1.6rem, $weight: 400, $height: 1.9rem, $text-transform: none);
}

img{
  margin-left: 5px;
  margin-top: 5px;
}