@import '../../../scss/constants';
@import '../../../scss/mixins';
@import '../../../scss/placeholders';

.pagination {
  display: flex;
  justify-content: flex-end;
}

.ant-pagination {
  &-item {

    @include font($size: 3rem, $height: 3.5rem, $weight: 700, $text-transform: none);

  }

  .ant-pagination-item{
    width: 85px;
    height: 75px;
    padding: 20px;
    background: transparent;
    border: 2px solid $color-bars-light;
    margin-right: 35px;
  }

  .ant-pagination-item:hover{
    background: transparent;
    border: 2px solid $color-primary;
    a{
      color: $color-primary;
    }
  }


  .ant-pagination-item-active {
    margin-right: 35px;
    background: $color-primary;
    border: 2px solid $color-primary;
    border-radius: 5px;
    width: 85px;
    height: 75px;
    @include font($size: 3rem, $height: 3.5rem, $weight: 700, $text-transform: none);

    >a {
      color: $color-main-light;
    }
  }
  .ant-pagination-item-active:hover {
    background: transparent;
    border: 2px solid $color-primary;
    >a {
      color: $color-primary;
    }
  }

  .ant-pagination-prev,
  .ant-pagination-next {
    border: 2px solid $color-bars-light;
    border-radius: 5px;
    width: 85px;
    height: 75px;

    >.anticon,
    .anticon-left,
    .anticon-right {
      height: 29px;
      width: 18px;

      >svg {
        height: 29px;
        width: 18px;
        color: $color-grey;
      }
    }
  }

  .ant-pagination-prev {
    margin-right: 35px;
  }

}