@import '../../../../../scss/constants';
@import '../../../../../scss/mixins';

.coachNames {
  @include font($size: 2.4rem, $height: 2.8rem, $weight: 700,$text-transform:none);
  color: $color-black;
  margin-right: 0.5rem;

  &-active {
    color: $color-main-light;
  }
}