@import '../../../../scss/constants';
@import '../../../../scss/mixins';

.ant-slider-rail {
  border: 1px solid $color-bars-light;
  border-radius: 8px;
  width: 294px;
  // height: 19px;
}

.ant-tooltip {
  background-color: transparent;
  .ant-tooltip-inner{
    background-color: transparent;
  }
}